.button {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(315deg, #5d02ff, #e91e63);
  border: 1px solid #000;
  width: 150px;
  padding: 20px 10px 30px;
  border-radius: 10px;
  text-align: center;
  margin-top:  10%;
}
.button::before {
  content: '';
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  background: linear-gradient(315deg, #e91e63, #5d02ff);
  z-index: -1;
  transform: skew(2deg, 1deg);
  border-radius: 10px;
}

 .button:hover {
      color: rgba(255, 255, 255, 0.521);
    background: linear-gradient(315deg, #e91e6271, #5f02ff8c);
 
  }
 